<h1>Tienda de ropa</h1>

<h2>Listado de productos</h2>

<div class="container containerProducts d-inline-flex p-3 justify-content-between">
    
    {{#each products}}

        <div class="card" style="width: 18rem">

            <p> {{this.title}} </p>
            <p> {{this.description}} </p>
            <p> {{this.price}} </p>
            <button type="button" class="btn btn-primary btn-sm" id="btn-addToCart"> Agregar al Carrito </button>

        </div>

    {{/each}}

</div>

<div>
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"> Anterior </a>
    {{/if}}


    {{#if hasNextPage}}

    <a href="/products?page={{nextPage}}"> Siguiente </a>

    {{/if}}


<p> {{currentPage}} de {{totalPages}}</p>
</div>
